.aside-menu {
  padding: 15px;
  min-width: 250px;
  background-color: #eee;
  position: relative;

  &__nav-wrapper {
    position: fixed;
    top: 128px;
    width: 235px;
    height: 770px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    padding: 15px 10px;
  }

  &__title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  &__link {
    // margin-top: 10px;
    // padding: 3px 15px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    list-style: none;

    &:hover {
      background-color: #f00;
    }
  }
}
