.login-form {
  display: flex;
  flex-direction: column;

  &__validate-message {
    color: #f00;
    font-size: 0.8rem;
    text-align: center;
  }

  &__row {
    margin: 10px;
    display: flex;

    & button {
      flex-grow: 1;
    }

    & button:nth-child(1) {
      margin-right: 10px;
    }
  }

  &__text {
    margin-right: 4px;
    display: inline-block;
    width: 50px;
  }

  & input {
    border: 1px solid black;
    border-radius: 4px;
  }
}
