* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "open sans", sans-serif;
}

.content-wrapper {
  margin-top: 60px;
  min-height: calc(100vh - 60px);
  display: flex;
  background-color: #eee;
}
